body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.weatherCard,
.newsCard,
.localEventsCard {
  background-color: #ffffffd0;
  color: #333;
  padding: 2em;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 75vh;
  overflow-y: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
}

.search > .search-bar {
  border: none;
  border-radius: 20px;
  width: calc(100% - 50px);
  height: 2em;
  padding: 5px;
  background-color: #7c7c7c4c;
  color: #333;
  outline: none;
}

.search > button {
  border-radius: 50%;
  border: none;
  background-color: #7c7c7c4b;
  width: 40px;
  height: 40px;
  outline: none;
  color: #333;
  cursor: pointer;
}

h1.temp {
  margin: 0;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.description {
  font-size: 20px;
  align-content: center;
  margin-left: 5px;
  margin-top: 5px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  font-weight: 600;
  color: #333;
  position: absolute;
  top: 0;
}

.newsCard .newsSection .newsTile,
.localEventsCard .eventsSection .eventsTile {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.newsCard .newsSection .newsTile .content,
.localEventsCard .eventsSection .eventsTile .content {
  flex-direction: column;
  margin-left: 10px;
}

.newsCard .newsSection .newsTile .content .title,
.localEventsCard .eventsSection .eventsTile .content .title {
  font-size: 14px;
  font-weight: 600;
}

.newsCard .newsSection .newsTile .content .description,
.localEventsCard .eventsSection .eventsTile .content .description {
  font-size: 12px;
  color: #666;
}

.newsCard .newsSection .newsTile img,
.localEventsCard .eventsSection .eventsTile img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.newsCard,
.localEventsCard {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
}

.newsCard::-webkit-scrollbar,
.localEventsCard::-webkit-scrollbar {
  display: none; 
}
