body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  overflow: hidden;
}
.newsCard h3 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.weatherCard,
.newsCard,
.covidCard {
  background-color: #202020d0;
  color: white;
  padding: 2em;
  margin: 1em;
  border-radius: 30px;
  width: 420px;
  max-width: 100%;
  max-height: 75vh;
}
.weatherCard {
  max-height: 320px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.search > .search-bar {
  border: none;
  border-radius: 1em;
  width: calc(100% - 100px);
  height: 2em;
  margin-right: 8px;
  padding: 5px;
  background-color: #7c7c7c4c;
  color: whitesmoke;
  outline: none;
}
.search > button {
  border-radius: 50%;
  border: none;
  background-color: #7c7c7c4b;
  width: 40px;
  height: 40px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

h1.temp {
  margin: 0;
}
.flex {
  display: flex;
  align-items: flex-start;
}
.description {
  font-size: 20px;
  align-content: center;
  margin-left: 5px;
  margin-top: 5px;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  font-weight: 600;
  color: white;
  position: absolute;
  top: 0;
}

.newsCard .newsSection .newsTile {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
.newsCard .newsSection .newsTile .content {
  flex-direction: column;
}
.newsCard .newsSection .newsTile .content .title {
  font-size: 14px;
  font-weight: 600;
}
.newsCard .newsSection .newsTile .content .description {
  font-size: 12px;
}

.newsCard .newsSection .newsTile img {
  width: 150px;
}

.newsCard {
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.newsCard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
